<a href="https://colab.research.google.com/github/YsfMnsr/New-main-group-notebook/blob/main/telkom_project_customer_base_evo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
%matplotlib inline

In [3]:
from google.cloud import bigquery

In [4]:
sql = """
Select * from `tkg-smb-cbe.tkg_bcx_wh_edw_eiwdev.SMB_F_BASE_EVO_ACC_latest` """

evo_acc_df = pd.read_gbq(sql, project_id = 'tkg-smb-cbe', dialect = 'standard')

Please visit this URL to authorize this application: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=725825577420-unm2gnkiprugilg743tkbig250f4sfsj.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fbigquery&state=ohHjuQpc4veZisWrkb3WHUQ7A6o0PD&prompt=consent&access_type=offline
Enter the authorization code: 4/1AX4XfWjDi2Yy-wwYOxMK7X13Mwj8MmHl7QDr8nkIrCzUCOzmnjWtrK8bMYQ

In [5]:
evo_acc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 269585 entries, 0 to 269584
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   account_id          269585 non-null  object
 1   account_no          269585 non-null  object
 2   start_date          269585 non-null  datetime64[ns, UTC]
 3   end_date            0 non-null       datetime64[ns, UTC]
 4   current_indic       269585 non-null  object
 5   account_name        269585 non-null  object
 6   account_trade_name  269585 non-null  object
 7   sic_code            269585 non-null  object
 8   cust_sic_name       269585 non-null  object
dtypes: datetime64[ns, UTC](2), object(7)
memory usage: 18.5+ MB

In [6]:
sql1 = """
Select * from `tkg-smb-cbe.tkg_bcx_wh_edw_eiwdev.SMB_F_BASE_EVO_BILL_ACC_latest` """

bill_acc_df = pd.read_gbq(sql1, project_id = 'tkg-smb-cbe', dialect = 'standard')

In [7]:
bill_acc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320911 entries, 0 to 320910
Data columns (total 35 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   ban                          320911 non-null  object
 1   account_no                   320911 non-null  object
 2   ban_create_date              320911 non-null  datetime64[ns, UTC]
 3   start_date                   320911 non-null  datetime64[ns, UTC]
 4   end_date                     0 non-null       datetime64[ns, UTC]
 5   current_indic                320911 non-null  object
 6   controlling_region_name      320911 non-null  object
 7   bill_account_name            320911 non-null  object
 8   trade_name                   320911 non-null  object
 9   care_off_person_name         320911 non-null  object
 10  cost_code                    320911 non-null  object
 11  account_type_code            320911 non-null  object
 12  account_type_sub_code        320911 non-null  object
 13  account_code_comb            320911 non-null  object
 14  account_desc                 320911 non-null  object
 15  account_type_desc            320911 non-null  object
 16  account_sub_type_desc        320911 non-null  object
 17  status_code                  320911 non-null  object
 18  status_desc                  320911 non-null  object
 19  status_change_date           320911 non-null  datetime64[ns, UTC]
 20  status_activity_code         320911 non-null  object
 21  status_activity_reason_code  320911 non-null  object
 22  status_activity_reason_desc  320911 non-null  object
 23  service_start_date           320911 non-null  datetime64[ns, UTC]
 24  bill_cycle_no                320911 non-null  float64
 25  language_name                320911 non-null  object
 26  balance_amt                  320911 non-null  float64
 27  vat_no                       320911 non-null  object
 28  vat_exempt_indic             320911 non-null  object
 29  invoice_dist_method_desc     320911 non-null  object
 30  source_system_code           320911 non-null  object
 31  territory_segment_type_desc  320911 non-null  object
 32  territory_id                 320911 non-null  object
 33  territory_name               320911 non-null  object
 34  inv_distr_methods            320911 non-null  object
dtypes: datetime64[ns, UTC](5), float64(2), object(28)
memory usage: 85.7+ MB

In [ ]:
sql2 = """
Select * from `tkg-smb-cbe.tkg_bcx_wh_edw_eiwdev.SMB_F_BASE_EVO_BILL_FACT_latest`"""

bill_fact_df = pd.read_gbq(sql2, project_id = 'tkg-smb-cbe', dialect = 'standard')

In [9]:
sql3 = """
Select * from `tkg-smb-cbe.tkg_bcx_wh_edw_eiwdev.SMB_F_BASE_EVO_SERV_latest`"""

evo_serv_df = pd.read_gbq(sql3, project_id = 'tkg-smb-cbe', dialect = 'standard')

In [10]:
evo_serv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1051483 entries, 0 to 1051482
Data columns (total 34 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   service_no           1051483 non-null  object
 1   ban                  1051483 non-null  object
 2   account_no           1051483 non-null  object
 3   start_date           1051483 non-null  datetime64[ns, UTC]
 4   end_date             0 non-null        datetime64[ns, UTC]
 5   current_indic        1051483 non-null  object
 6   service_desc         1051483 non-null  object
 7   service_type_desc    1051483 non-null  object
 8   service_status_desc  1051483 non-null  object
 9   pis_date             1051483 non-null  datetime64[ns, UTC]
 10  bill_start_date      1051457 non-null  datetime64[ns, UTC]
 11  discontinue_date     675319 non-null   datetime64[ns, UTC]
 12  action_date          1051483 non-null  datetime64[ns, UTC]
 13  product_family_desc  1051483 non-null  object
 14  circuit_type_desc    1051483 non-null  object
 15  distance_band        1051483 non-null  object
 16  order_id             1051483 non-null  object
 17  reason_desc          1051483 non-null  object
 18  action_desc          1051483 non-null  object
 19  speed_desc           1051483 non-null  object
 20  component_id         1051483 non-null  object
 21  offer_id             1051483 non-null  object
 22  offer_name           1051483 non-null  object
 23  product_level_1      1048640 non-null  object
 24  product_level_2      1048640 non-null  object
 25  product_level_3      1048640 non-null  object
 26  product_level_4      1048640 non-null  object
 27  site_id              1051483 non-null  object
 28  service_type_code    1051483 non-null  object
 29  service_status_code  1051483 non-null  object
 30  service_type_indic   1051483 non-null  object
 31  bill_end_date        668061 non-null   datetime64[ns, UTC]
 32  network_access_type  1051084 non-null  object
 33  state                681625 non-null   object
dtypes: datetime64[ns, UTC](7), object(27)
memory usage: 272.8+ MB